/*styles the selected product page*/
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
	font-family: 'lato',sans-serif;
	box-sizing: border-box;
	margin: 0px;
	text-decoration: none;
}

body {
	background-color: #F5F5F5;
}

#title {
	position: absolute;
	left: 250px;
	top: 10px;
	font-size: 19px;
	color: #494747 !important;
}

a, a:hover, a:focus, a:active{
     text-decoration: none;
     color: inherit;
}

.container {
	display: flex;
	justify-content: space-around;
}

.container-div {
	width: 25%;
}

/*styling the elements*/

.container-div h2 {
	font-size: 27px;
	margin: 74px 0px 10px;
	letter-spacing: 0.5px;
	color: #B08B66;
}

.container-div p {
	font-size: 17px;
	margin: 21px 0px;
}

#description {
	margin: 30px 0px;
	color: #494747;
	font-size: 19px;
	line-height: 26px;
}

.button {
	margin: 8px 0px 0px;
	width: 90%;
	height: 45px;
	color: white;
	border-radius: 1px;
	border: none;
	cursor: pointer;
	transition: ease-out 0.6s;
}

#addBtn {
	background-color: #00aeef;
}
#addBtn:hover {
	box-shadow: inset 400px 0 0 0 black;
}

#buyBtn {
	background-color: #000000;
}

#buyBtn:hover {
	background-color: #F5F5F5;
	border: 1px solid black;
	color: black;
}

details > summary {
    list-style-type: '+ ';
    list-style-type: ;
}

details[open] > summary {
    list-style-type: '- ';
}

.returns {
	margin: 40px 0px 10px;
}
.returns summary {
	font-size: 20px;
}

.returns ul li {
	margin: 10px 0px;
	font-size: 19px;
	color: #494747;
}

/*mobile view*/

@media (max-width: 700px) {

   .container{
   		flex-direction: column;
   		align-items: center;
   		justify-content: center;
   }
   .container-div{
   	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
   }
   .container h2 {
   	font-size: 2.2rem;
   }
   .container-div p {
   	font-size: 1.5rem;
   }
   #description {
   	font-size: 1.5rem;
   }
   .button {
   	width: 300px;
   	height: 60px;
   }
}